blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 22px;
  border-left: 5px;
}
blockquote p {
  margin-bottom: -14px;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}
code {
  font: 12px 'Bitstream Vera Sans Mono','Courier',monospace;
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #EAEAEA;
  color: #333;
  background-color: #F8F8F8;
  border-radius: 3px;
}
table {
  font-size: 12px;
}
ul, ol {
  font-size: 12px;
}
#post-count {
  display: none;
}

/* Layout Footer*/
.bg-gray.footer-top {
  background: #444444;
  color: #FFFFFF;
}
.footer-top.bg-gray{
  background: #444444;
  color: #FFFFFF;
}
.footer-top {
  padding: 40px 0px;
  color: white;
  font-family: "Proxima Nova","proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.medium-4.large-4.columns.white h1, .medium-4.large-4.columns.white h2, .medium-4.large-4.columns.white h3, .medium-4.large-4.columns.white h4, .medium-4.large-4.columns.white h5 {
  color: #FFFFFF !important;
}
.footer-top h1, .footer-top h2, .footer-top h3, .footer-top h4, .footer-top h5 { color: #FFFFFF !important; }
.medium-4.large-4.columns.white a:link { color:#dcfdfb !important; }
.medium-4.large-4.columns.white a:visited { color:#dcfdfb !important; }
.medium-4.large-4.columns.white a:hover { color:#a4f4fb !important; }
.medium-4.large-4.columns.white a:active { color:#dcfdfb !important; }
